.usual {
	width: 200px;
	height: 200px;
	background-color: wheat;
	margin: 10px;
	font-size: 30px;
}

button {
	width: 100px;
	height: 100px;
	font-size: 24px;
}

.new {
	width: 500px;
	height: 200px;
	background-color: red;
}