/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-----------------------------*/

body {
	background-color: #e5e5e5;
}

header {
	padding: 30px 10px;
	border-bottom: 1px solid aquamarine;
}

.logo {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 80px;
	background: url("logo.png") no-repeat center;
	background-size: 100%;
}

h1 {
	display: inline-block;
	vertical-align: top;
	padding: 25px;
	font-size: 28px;
}

nav {
	display: inline-block;
	vertical-align: top;
	background-color: #ffffff;
	width: 300px;
}

ul {
	padding: 20px;
}

ul li a {
	display: block;
	padding: 8px;
	text-decoration: none;
	font-size: 16px;
	color: #000000;
}

ul li a:hover {
	color: aquamarine;
}

.slider {
	display: inline-block;
	vertical-align: top;
	width: 700px;
	height: 330px;
	background: url("slider-img.png") no-repeat center;
	background-size: 100%;
}

main {
	padding: 30px 0;
}

h2 {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}

.news-plates section {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: 470px;
	padding: 15px;
	margin: 10px;
}

.news-plates section img {
	width: 100%;
}

footer {
	padding: 20px 10px;
	border-top: 1px solid aquamarine;
}