.link {
	text-align: center;
}
.link1 {
	font-size: 30px;
	list-style-type: none;
	display: inline-block;
	position: relative;
	background-color: green;
	border: 2px solid black;
	font-family: ARIAL BLACK;
	text-decoration: none;
}
.link2 {
	display: none;
}
.help:hover .link2 {
	display: inline-block;
	position: absolute;
	top: 100%;
	list-style-type: none;
	background-color: gray;
	border: 2px solid black;
}